body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('../images/formularioPiloto.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1 {
    padding-top: 20px;
    color: #ffffff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1); /* Sombra para el encabezado */
}

header{
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #32568fd8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form {
    margin-bottom: 20px;
}

input[type="text"], button {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

button {
    background-color: #FCBB01;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #9c7e2a;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-size: small;
    color: white;
}

th {
    background-color: #32568fd8;
    color: white;
    white-space: nowrap;
}

#noDataMessage {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 2rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
.volver{
    margin-top: 20px;
}
